@font-face {
  font-family: "Neon";
  src: url("https://maximilian-r.github.io/energy-calculator/fonts/NeonTubes2.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Varela Round", sans-serif !important;
  overflow: hidden;

  color: white;
  /* background: #1f1d2b; */
  background: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: #1f1d2b; */
    background: #000;
  }
}

body {
  --primary-color: #7df9ff;
  --primary-color-dark: #42c6cc;
  --secondary-color: #fff87d;
  --secondary-color-dark: #cac54c;
}
